.travel_mainDiv{
    border: 1px solid;
}

.travel_mainDiv img{
    width: 100%;
}

.travel_mainDiv{
    margin: 20px;
}
.new{
    margin-bottom: 20px;
}
#contact_iframe
{
 width: 100%;
}